ion-content {
  --color: white;
  font-family: "EN";
  font-size: 20px;
  .title {
    margin-top: 70px;
    transform: translateY(50px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    h1 {
      font-size: 40px;
      font-family: "AV";
      color: white;
    }
  }
  .title2 {
    margin-top: 35px;
    transform: translateY(50px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    h1 {
      font-size: 40px;
      text-align: center;
      font-family: "AV";
      color: white;
    }
  }
  .content {
    transform: translateY(50px);
    visibility: hidden;
    transition: 0.5s;
    opacity: 0;
    p {
      margin-top: 15px;
      line-height: 31px;
    }
  }
  .active-title {
    transform: translateY(0px);
    visibility: visible;
    transition-duration: 0.8s;
    opacity: 1;
  }
  .active-content {
    transform: translateY(0px);
    visibility: visible;
    transition-delay: 0.7s;
    transition-duration: 0.8s;
    opacity: 1;
  }
  .active-content2 {
    transform: translateY(0px);
    visibility: visible;
    transition-delay: 1.4s;
    transition-duration: 0.8s;
    opacity: 1;
  }
  .active-content3 {
    transform: translateY(0px);
    visibility: visible;
    transition-delay: 2.1s;
    transition-duration: 0.8s;
    opacity: 1;
  }
  .active-content4 {
    transform: translateY(0px);
    visibility: visible;
    transition-delay: 2.8s;
    transition-duration: 0.8s;
    opacity: 1;
  }
  .active-title-love {
    transform: translateY(0px);
    visibility: visible;
    opacity: 1;
    transition-delay: 3.5s;
    transition-duration: 0.8s;
  }
  svg {
    opacity: 0;
    width: 160px;
    transition: 0.5s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    z-index: 10;
  }
  .active-sign {
    opacity: 1;
    transition-delay: 4.2s;
    .sign {
      margin: 0 auto;
      fill: none;
      stroke: white;
      stroke-miterlimit: 5;
      stroke-width: 1px;
      animation-duration: 15s;
      animation-name: Signature;
      animation-fill-mode: forwards;
    }
  }
  .active-img1 {
    transform: translateY(0px) !important;
    visibility: visible !important;
    opacity: 1 !important;
    transition-delay: 4.9s !important;
    transition-duration: 0.8s !important;
  }
  .active-img2 {
    transform: translateY(0px) !important;
    visibility: visible !important;
    opacity: 1 !important;
    transition-delay: 5.6s !important;
    transition-duration: 0.8s !important;
  }
  .button {
    background-color: white;
    color: #af0000;
    font-family: "ESB";
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    left: 20px;
    right: 20px;
    transform: translateY(50px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }
  .active-button {
    transform: translateY(0px);
    visibility: visible;
    opacity: 1;
    transition-delay: 6.3s;
    transition-duration: 0.8s;
  }
  .shadow {
    background: rgba(0, 0, 0, 0.568);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    padding: 15px;
    border-radius: 20px;
    background: #fff;
    text-align: center;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.5s;
    z-index: 11;
  }
  .popupActive {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s;
  }
}
